* {
  margin: 0%;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  background-color: tomato;
  heigth: 15vh;
  line-height: 15vh
}

main {
  display: flex;
  height: 70vh;
  line-height: 70vh
}

article {
  flex: 3;
  order: 2;
}

aside {
  flex: 1;
  background-color: beige;
  order: 3;
}

nav {
  flex: 1;
  background-color: blanchedalmond;
  order: 1;
}

footer {
  background-color: bisque;
  height: 15vh;
  line-height: 15vh;
}